@font-face {
  font-family:"Arada";
  src:url("@/fonts/Arada-Light.woff2") format("woff2"),url("@/fonts/Arada-Light.woff") format("woff"),url("@/fonts/Arada-Light.otf") format("opentype");
  font-style:normal;
  font-weight:300;
}
@font-face {
  font-family:"Arada";
  src:url("@/fonts/Arada-Regular.woff2") format("woff2"),url("@/fonts/Arada-Regular.woff") format("woff"),url("@/fonts/Arada-Regular.otf") format("opentype");
  font-style:normal;
  font-weight:400;
}
@font-face {
  font-family:"Arada";
  src:url("@/fonts/Arada-Bold.woff2") format("woff2"),url("@/fonts/Arada-Bold.woff") format("woff"),url("@/fonts/Arada-Bold.otf") format("opentype");
  font-style:normal;
  font-weight:600;
}
@font-face {
  font-family:"Mayenne Sans";
  src:url("@/fonts/Mayenne-Sans-Regular.woff2") format("woff2"),url("@/fonts/Mayenne-Sans-Regular.woff") format("woff"),url("@/fonts/Mayenne-Sans-Regular.otf") format("opentype");
  font-style:normal;
  font-weight:400;
}