#header {
  .paralax {
    position: relative;
    padding-bottom: 40%;
    min-height: 320px;
    @screen 3xl {
      padding-bottom: 0;
      height: 600px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}

#logo {
  width: 100%;
  max-width: 15rem;
  transition: max-width 0.2s ease;
  position: relative;
  z-index: 49;
  @screen @m {
    max-width: 12rem;
  }
  a:link, a:visited, a:active {
    color: #fff;
  }
  a:hover {
    color: rgba(255,255,255,0.8);
  }
}

@screen md {
  html.init {
    #logo a {
      transition: color 0.2s ease;
    }
    #icon {
      transition: fill 0.2s ease;
    }
  }
}

#bar {
  .bar {
    background: transparent;
    transition: background 0.2s ease;
  }
  &.fix {
    .bar {
      background: rgba(255,255,255,0.6);
      position: fixed;
      top: 0;
    }
    #logo {
      max-width: 12rem;
      a {
        color: rgb(25,25,100);
      }
    }
    #icon {
      fill: rgb(218, 43, 31);
    }
    #primary {
      a {
        color: rgba(25,25,100,0.8);
        &:hover {
          color: rgba(25,25,100,1);
        }
      }
      li.catalogue a {
        border-color: var(--color-primary);
        &:hover {
          background: var(--color-primary);
          color: #fff;
        }
      }
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: var(--color-primary);
    }
  }
}