#header {
  .paralax {
    position: relative;
    padding-bottom: 40%;
    min-height: 320px;
    @screen 3xl {
      padding-bottom: 0;
      height: 600px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}

#logo {
  width: 100%;
  max-width: 15rem;
  transition: max-width 0.2s ease;
  position: relative;
  z-index: 49;
  @screen @m {
    max-width: 12rem;
  }
  a:link, a:visited, a:active {
    color: #fff;
  }
  a:hover {
    color: rgba(255,255,255,0.8);
  }
}

html.init #logo a {
  transition: color 0.2s ease;
}

#bar {
  .bar {
    background: transparent;
    transition: background 0.2s ease;
  }
  &.fix {
    .bar {
      background: color-mix(in srgb, var(--color-primary) 50%, transparent);
      position: fixed;
      top: 0;
    }
    #logo {
      max-width: 12rem;
    }
  }
}