#nav-toggle {
  position: relative;
  z-index: 49;
  @screen lg {
    display: none;
  }
}

#primary {
  menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
  }
  li {
    margin: 0 0 0 2.5rem;
    padding: 0;
    @screen xl {
      margin-left: 3rem;
    }
  }
  a {
    color: rgba(255,255,255,0.8);
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
  li.catalogue a {
    @apply text-sm;
    border: 1px solid #fff;
    display: block;
    padding: 0.4rem 1.25rem;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

@screen @l {
  #primary {
    position: absolute;
    z-index: 40;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background: var(--color-primary);
    transform: translateX(100%);
    menu {
      display: flex;
      flex-flow: column;
      height: 100%;
      max-height: -webkit-fill-available;
      max-height: fill-available;
      padding-top: 40px;
      align-items: center;
      justify-content: center;
    }
    li {
      margin: 1rem 0;
      @apply text-2xl;
      a {
        color: #fff !important;
      }
      &.catalogue {
        margin-top: 2rem;
        a {
          border: 1px solid #fff !important;
          color: #fff;
          opacity: 1 !important;
          @apply text-base;
        }
      }
    }
  }
  #wrapper.mactive {
    overflow: hidden;
    #primary {
      transform: translateX(0);
    }
    #logo a {
      color: #fff;
    }
    #icon {
      fill: #fff;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: #fff;
    }
  }
  html.init #primary {
    transition: transform 0.6s ease;
  }
}

