<a class="sr-only" href="#structure" aria-label="Skip to main content">Skip to main content</a>
<header id="header" class="relative bg-gray-100">
  <div id="bar" class="absolute w-full py-8 md:py-12 text-white z-50">
    <div class="bar w-full z-50 py-4">
      <div class="container mx-auto px-6 lg:px-8">
        <div id="logo"><a href="{{ siteUrl }}">{{ svg('images/logo/rhinotek.svg') }}</a></div>
      </div>
    </div>
  </div>
  <div class="paralax"><img src="images/header.jpg" alt="Rhinotek"></div>
</header>
