@charset "UTF-8";

@use '/src/css/files/fonts.scss';
@use '/src/css/files/headings.scss';
@use '/src/css/files/header.scss';
@use '/src/css/files/nav.scss';
@use '/src/css/files/footer.scss';
@use '/src/css/hamburgers/rhinotek.scss';

#wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: space-between;
  visibility: visible !important;
  overflow-x: hidden;
}

#wrap {
  margin-bottom: auto;
  position: relative;
  z-index: 1;
}

body {
  background: #fff;
  color: var(--color-text);
  font-family: "Arada", sans-serif;
  font-weight: 300;
  --color-primary: #191964;
  --color-text: #555555;
}

blockquote {
  margin: 1rem 0;
  padding: 0;
  @apply text-lg;
}

[data-sr] {
  visibility: hidden;
}

[data-services] {
  div[data-item] {
    margin-bottom: 10px;
    &:not(.active) .spread {
      opacity: 0;
      margin-bottom: 0;
    }
  }
  .service {
    background: #f7f7f7;
    padding: 1rem 1.5rem;
    cursor: pointer;
    p {
      margin-top: 1.5rem;
    }
    h3 {
      margin: 1rem 0;
    }
  }
  .active .service {
    background: rgb(235,235,235);
    font-weight: 500;
  }
  svg {
    color: #555;
    height: 5rem;
  }
  .element {
    background: rgb(235,235,235);
    position: relative;
    @apply text-sm;
    @screen @m {
      background: rgba(235,235,235,0.6);
    }
  }
  .spread {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 1;
    margin: 0;
  }
  [data-height] {
    padding: 2rem !important;
  }
  @screen md {
    .service {
      height: 260px;
      p {
        margin-top: 3rem;
      }
    }
    .element {
      width: calc(300% + 1rem);
    }
    .col:nth-child(3n+2) .element {
      left: calc(-100% - 0.5rem);
    } 
    .col:nth-child(3n+3) .element {
      left: calc(-200% - 1rem);
    }
  }
  @screen xl {
    .element {
      width: calc(500% + 2rem);
      margin-bottom: 0;
    }
    .col:nth-child(5n+2) .element {
      left: calc(-100% - 0.5rem);
    } 
    .col:nth-child(5n+3) .element {
      left: calc(-200% - 1rem);
    }
    .col:nth-child(5n+4) .element {
      left: calc(-300% - 1.5rem);
    } 
    .col:nth-child(5n+5) .element {
      left: calc(-400% - 2rem);
    } 
  }
}

[data-break] .paralax {
  position: relative;
  height: 460px;
  .carousel {
    background: rgba(0,0,0,0.2);
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    @screen @m {
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
  }
  @screen lg {
    height: 500px;
  }
  @screen xl {
    height: 540px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(#191964, 0.85);
    mix-blend-mode: soft-light;
  }
  .splide {
    padding-bottom: 4em;
  }
  .splide__arrow {
    background: transparent;
    border: 2px solid #fff;
    top: auto;
    bottom: -1em;
    width: 2.5em;
    height: 2.5em;
    svg {
      fill: #fff;
      width: 1.25em;
      height: 1.25em;
    }
  }
  .splide__arrow--prev {
    left: 0;
  }
  .splide__arrow--next {
    right: auto;
    left: 4em;
  }
}

a.button {
  @apply text-sm;
  border: 1px solid var(--color-text);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: var(--color-text);
  text-transform: uppercase;
  margin: 0.5rem 0;
  &:hover {
    opacity: 0.8;
  }
}

a.read {
  text-decoration: underline;
}